<mat-accordion class="db-connect-accordion">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle [disabled]="!dbGeneratorDisabled">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Veritabanı Bağlantı
            </mat-panel-title>
            <mat-panel-description>
                Bağlantı Bilgilerini Giriniz
                <mat-icon>next_week</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <button mat-raised-button color="primary" (click)="getDbInfoFromLocalStorage()">Hafızadan Bağlantı Bilgilerini Getir</button>
        </div>

        <app-form-db-connect [dbConnectInfo]="dbConnectInfo"></app-form-db-connect>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle [disabled]="dbGeneratorDisabled">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tablo Model Oluşturma
            </mat-panel-title>
            <mat-panel-description>
                Hedef Tablo Seçimleri
                <mat-icon>select_all</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-form-db-generatemodel [tables]="tables"></app-form-db-generatemodel>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Önceki Adıma Geri Dön</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>